.sidebar {
    flex: 3;
    background-color: #f0f0f0;
    padding: 20px;
    box-sizing: border-box;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* 设置子项等间距分布 */
    height: 70%; /* 让 ul 元素占据父容器的高度 */
}